numpy<2.0
pandas
pathlib
scipy
matplotlib
astropy>=5.1
lightkurve>=2.4
numba
scikit-learn>=1.0

# For jupyter notebook support
ipykernel
ipympl
jupyter

# TensorFlow/Keras support; fixed versions for repeatable results.
# The [and-cuda] includes support for CUDA GPUs and removes the need for separate install of cudnn
# tensorflow 2.17 appears to resolve the issue with 2.16.1 where GPUs were not seen
# https://github.com/tensorflow/tensorflow/issues/63362#issuecomment-2016019354
tensorflow[and-cuda]==2.17.*
tensorflow-estimator
tensorboard
keras==3.4.*
keras-preprocessing

# For hyperparameter grid search
hyperopt
