numpy
pandas
pathlib
scipy
matplotlib
astropy>=5.1
lightkurve>=2.4
numba
scikit-learn>=1.0

# For jupyter notebook support
ipykernel
ipympl
jupyter

# TensorFlow/Keras support.
tensorflow
tensorflow-estimator
tensorboard
keras
keras-preprocessing
