numpy<2.0
pandas
pathlib
scipy
matplotlib
astropy>=5.1
lightkurve>=2.4
numba
scikit-learn>=1.0

# For jupyter notebook support
ipykernel
ipympl
jupyter

# TensorFlow/Keras support.
# The [and-cuda] includes support for CUDA GPUs and removes the need for separate install of cudnn
# There is a known issue with tensorflow 2.16.1 not seeing GPUs and a work-around can be found at
# https://github.com/tensorflow/tensorflow/issues/63362#issuecomment-2016019354
tensorflow[and-cuda]
tensorflow-estimator
tensorboard
keras
keras-preprocessing

# For hyperparameter grid search
hyperopt
